<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <welcome-file-list>
    <welcome-file>jsps/index.htm</welcome-file>
  </welcome-file-list>

  <distributable/>
  <servlet>
    <servlet-name>ClusteringDemoServlet</servlet-name>
    <servlet-class>com.platformteam.ClusteringDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClusteringDemoServlet</servlet-name>
    <url-pattern>/ClusteringDemoServlet</url-pattern>
  </servlet-mapping>

  <!--
  <session-config>
	  <session-timeout>1</session-timeout>
  </session-config>

-->
</web-app>
